---
import { Image } from "astro:assets";
import LontanoEnsamble from "../images/DSC_0046.jpg";
---

<section class='w-full h-96 flex bg-fixed bg-parallax-1 bg-cover bg-bottom'>
  <div class='group flex flex-col p-8 w-1/2 gap-4 transition-all duration-500'>
    <div class='h-1 w-10 bg-secondary'></div>
    <h1 class='font-title font-bold text-6xl uppercase h-fit'>Lontano</h1>
    <p class='font-body'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      molestiae assumenda corrupti sint ipsam, earum praesentium autem quisquam,
      dolores dicta ad consectetur facere debitis ut culpa adipisci mollitia
      iste a.
    </p>
    <div class='h-1 w-10 bg-primary self-end'></div>
  </div>
</section>
