---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title='Welcome to Astro.'>
  <main class=''>
    <h1 class='font-title font-bold text-6xl uppercase'>
      lontano playing trombone
    </h1>
    <p class='font-body'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel excepturi
      asperiores aperiam ipsum eaque sint ea nihil doloremque reiciendis vero
      mollitia molestiae nisi tempore non, harum eligendi, ex vitae magnam.
      Aliquid soluta cum architecto minus, dolore, sed corrupti vel consectetur
      voluptate distinctio adipisci ex error, nisi consequuntur quo mollitia
      odio quaerat deleniti laboriosam tempora et numquam eius aperiam. Velit,
      odit. Praesentium aut facere, iusto error voluptatum, saepe, consequuntur
      hic voluptate voluptatem ut animi. Et tenetur culpa iure sequi, architecto
      nesciunt, repudiandae modi sint aut ut dolorem commodi ullam ab
      voluptatem? Est accusamus voluptates possimus quo! Eos, est doloremque
      quod modi quas aspernatur ut laboriosam excepturi harum culpa iusto
      explicabo porro obcaecati tempore rerum nisi recusandae, ratione mollitia
      nulla laudantium molestias. Unde, architecto reiciendis hic magni
      doloremque eligendi in assumenda harum voluptas vero veritatis
      necessitatibus a at, fuga laudantium optio accusamus maxime animi nemo
      iusto impedit temporibus! Saepe error veritatis delectus? Illum, incidunt!
      Ex molestias, velit ducimus, vero odio eum earum animi quaerat quasi
      pariatur exercitationem ullam nam excepturi consectetur aliquam quae
      cupiditate, culpa placeat maiores dolores. Quod reprehenderit doloremque
      iste. Repellat soluta tenetur, perspiciatis sequi voluptatum harum
      doloribus rerum praesentium amet! Quisquam quos eveniet perspiciatis
      mollitia voluptates tenetur incidunt possimus et, enim temporibus cumque
      accusamus sit voluptatibus est. Nobis, vitae. A voluptatibus nemo beatae
      sed doloremque sit, ipsa odio. Asperiores fugiat, velit libero excepturi
      quod possimus reprehenderit rerum necessitatibus, eaque qui perspiciatis?
      Officia assumenda autem rerum aspernatur magni temporibus magnam? Dolor
      vel hic facilis dolores provident neque quis similique quod modi totam.
      Voluptatem necessitatibus ipsam dolore similique incidunt vel maiores iure
      voluptates? Aliquam aut soluta facere nulla qui debitis pariatur?
      Voluptates omnis saepe inventore harum culpa, tempore accusamus laudantium
      amet nihil nesciunt animi aspernatur quia nostrum itaque eum quis,
      corrupti tenetur nulla labore! Ut obcaecati totam natus soluta omnis sit.
      Autem consectetur commodi minus reiciendis quibusdam consequuntur ipsa
      totam! Deserunt incidunt numquam enim laudantium voluptates fugiat nihil,
      eligendi ullam porro magnam quaerat autem commodi eaque vitae provident
      quae veritatis! Nesciunt. Id quis aliquid facere? Laudantium praesentium,
      provident dolore, assumenda esse voluptatum ut obcaecati id earum soluta
      nihil doloremque ducimus ea hic optio numquam animi recusandae vitae
      pariatur perferendis quisquam iure. Est eos illo ut perspiciatis debitis
      culpa rerum saepe consequatur commodi, suscipit reiciendis iste fugit
      corrupti sequi voluptatem aut corporis animi amet! Consequuntur ad iste
      consequatur nostrum. Aspernatur, amet voluptatum. Qui sunt dolorem labore
      exercitationem. Quidem numquam pariatur animi impedit facilis rerum,
      deserunt unde labore at molestias aspernatur minus error blanditiis
      officiis fugiat debitis consequuntur sapiente consectetur aperiam quo
      accusantium. Laborum sunt, dolorum modi harum reprehenderit ut natus
      placeat voluptates soluta officiis dolores perferendis aliquam possimus
      quasi rerum commodi ratione quae quis nam iste. At dolorem deleniti quia
      vitae ut? Officia natus illum veniam ut ea corporis atque id omnis ad
      ratione error, minima consequatur. Excepturi enim possimus earum repellat
      officia vitae. Nisi impedit unde sunt corporis quis, inventore eveniet! Ab
      debitis numquam maiores esse tempore alias earum aspernatur aliquam
      nostrum ut! Consequuntur repellendus nulla saepe velit quia ea enim
      voluptates ducimus dolores, optio ipsa. Minus nobis laborum expedita
      facilis. Rem quidem tenetur cumque delectus eligendi itaque pariatur quam
      soluta veniam ipsam cupiditate obcaecati, minus labore voluptatibus
      sapiente officia! Minima ea eligendi facilis eum magnam quisquam nam ullam
      quo error! Dolores temporibus commodi dolor corrupti doloremque provident
      porro delectus mollitia voluptatibus quaerat, rem distinctio expedita,
      dolorum repellendus, qui possimus sed tenetur. Expedita at unde modi a
      sint nostrum rerum aspernatur. Possimus praesentium accusantium quae
      cupiditate, reprehenderit minus maxime quasi excepturi, aliquid inventore
      ipsa provident alias dolore quod recusandae totam, obcaecati labore unde
      cum vel nulla illum architecto? Quos, veniam commodi?
    </p>
  </main>
</Layout>
